@inherits LayoutComponentBase
@inject IJSRuntime Js

<div class="page">
    <NavMenu/>

    <main class="px-4 sm:mr-64 h-screen">
        @Body
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
@code {
    protected override async Task OnAfterRenderAsync(bool isFirstRender) {
        if (isFirstRender)
        {
            await Js.InvokeVoidAsync("window.initializeFlowbite");
        }
    }
}